<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShockCollar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShockCollar.Properties.Settings>
            <setting name="LastShockIntensity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastShockCooldown" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LastVibrationIntensity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastVibrationCooldown" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RepeaterPortsList" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenerPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="SenderPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="OSCListenerEntryList" serializeAs="String">
                <value />
            </setting>
            <setting name="OSCRepeaterActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSCActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OSCLeashActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PiShockName" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="PiShockApiKey" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="PiShockDeviceId" serializeAs="String">
                <value>dummy</value>
            </setting>
        </ShockCollar.Properties.Settings>
    </userSettings>
</configuration>